<body>
    <div class="container text-center">
        <header class="my-5">
            <h1 class="display-4 text-warning">¡Bienvenido a la Biblioteca de Dragon Ball!</h1>
            <p class="lead text-light">Aquí encontrarás todos los libros sobre tus personajes favoritos.</p>
        </header>
    
        <div class="row">
            <div class="col-md-4">
                <img src="img/goku.jpg" alt="Goku" class="img-fluid rounded shadow" />
                <h3 class="text-light mt-2">Goku</h3>
            </div>
            <div class="col-md-4">
                <img src="img/vegeta.webp" alt="Vegeta" class="img-fluid rounded shadow" />
                <h3 class="text-light mt-2">Vegeta</h3>
            </div>
            <div class="col-md-4">
                <img src="img/freezer.jpg" alt="freezer" class="img-fluid rounded shadow" />
                <h3 class="text-light mt-2">Freezer</h3>
            </div>
        </div>
    
        <div class="my-5">
            <h2 class="text-warning">¡Explora y disfruta!</h2>
            <p class="text-light">Sumérgete en las aventuras de Dragon Ball y descubre historias épicas.</p>
            <img id="kanji" src="img/kanji.png" alt="Dragon Ball Logo" class="img-fluid my-3" />
        </div>
    </div>
</body>